:root {
    /* fonts */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* text colors */
    --text-color: #757575;
    --title-color: #212121;

    /* background colors */
    --background-color: #F5F4FA;
    --accent-background-color: #2F303A;

    /* others */
    --accent-color: #2196F3;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --icons-color: #AFB1B8;
    --hero-background-color: #C4C4C4;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --overlay-color: rgba(33, 150, 243, 0.9);
    --placeholder-color: rgba(117, 117, 117, 0.5);
}