.header {
    position: relative;
}

.header__container {
    display: flex;
    align-items: center;

    @media screen and (max-width:767px) {
    justify-content: space-between;
    }


}

.header__logo {
    color: var(--accent-color);

    &-span {
        color: var(--black-color);
    }

    @media screen and (min-width:1200px) {
        margin-right: 92px;
    }
}

.header__list {

    @media screen and (max-width:767px) {
        display: flex;
        flex-direction: column-reverse;
    }

    @media screen and (min-width:1200px) {
        display: flex;
            gap: 30px;
        }
    }
    

.header__action {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    transition: color var(--animation);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (min-width:1200px) {
        padding-top: 32px;
        padding-bottom: 32px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

.header__action--tablet-mail {
    @media screen and (max-width:767px){
        font-size: 24px;
        line-height: calc(28 / 24);
        margin-bottom: 64px;
    }

    @media screen and (min-width:767px) and (max-width:1599px) {
        margin-top: 21px;
        margin-bottom: 10px;
    }
}

.header__action--tablet-phone {
    @media screen and (max-width:767px) {
        color: var(--accent-color);
        font-size: 34px;
        line-height: calc(40 / 34);
        margin-bottom: 32px;
    }

    @media screen and (min-width:767px) and (max-width:1599px) {
        margin-bottom: 21px;
    }
}

.header__icon {
    fill: currentColor;

    @media screen and (max-width:767px) {
        display: none;
        
    }

}

.header__icon-envelope {
    @media screen and (min-width:768px) {
        width: 14px;
        height: 10px;
    }

    @media screen and (max-width:768px) {
        margin-right: 8px;
    }

    @media screen and (min-width:1200px) {
        width: 16px;
        height: 12px;
    }
}

.header__icon-phone {
    @media screen and (min-width:768px) {
        width: 10px;
        height: 14px;
        
    }

    @media screen and (max-width:768px) {
        margin-right: 8px;
    }

    @media screen and (min-width:1200px) {
        width: 10px;
        height: 16px;
    }
}