.hero {
    height: 400px;
    background-color: var(--hero-background-color);
    margin-right: auto;
    margin-left: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/index/hero/hero_sm@1x.jpg);
    
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url(../images/index/hero/hero_sm@2x.jpg);
    }
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


        @media screen and (min-width:768px) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url(../images/index/hero/hero_md@1x.jpg);

                    @media (min-device-pixel-ratio: 2),
                        (min-resolution: 192dpi),
                        (min-resolution: 2dppx) {
                        background-image: linear-gradient(to right,
                                rgba(47, 48, 58, 0.4),
                                rgba(47, 48, 58, 0.4)), url(../images/index/hero/hero_md@2x.jpg);
                    }
        }
    
        @media screen and (min-width:1200px) {
            height: 600px;
            padding-top: 200px;
            padding-bottom: 200px;

            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url(../images/index/hero/hero_lg@1x.jpg);

                    @media (min-device-pixel-ratio: 2),
                        (min-resolution: 192dpi),
                        (min-resolution: 2dppx) {
                            background-image: linear-gradient(to right,
                                rgba(47, 48, 58, 0.4),
                                rgba(47, 48, 58, 0.4)), url(../images/index/hero/hero_lg@2x.jpg);
                    }
        }
}

.hero__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    color: var(--white-color);
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    @media screen and (max-width:1199px) {
        max-width: 360px;
    }

    @media screen and (min-width:1200px) {
        width: 696px;
        font-size: 44px;
        line-height: calc(60 / 44);
    }
}


.hero__btn {
    display: block;
    min-width: 200px;
    min-height: 50px;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;


    background-color: var(--accent-color);
    cursor: pointer;
    color: var(--white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;

    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color var(--animation);

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}
