.socials-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @media screen and (max-width:767px) {
        margin-bottom: 60px;
    }
}

.socials-footer__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color var(--animation), color var(--animation);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--white-color);
    }
}

.socials-footer__icon {
    fill: currentColor;
}